@{
    var list = ViewBag.List as List<Tuple<string, string, string, string, DateTime?, bool, TargetCode>>;
    ViewBag.Title = "我的活动";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style1.css">
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/my.js"></script>
    <style>
        html {
            background: #f9f9ff;
        }

        .nav-wrapper {
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            padding: 0.4em 1em;
            width: 100%;
            height: 2.8em;
            line-height: 2em;
            border-bottom: 1px dashed #eee;
            background: #fff;
        }

            .nav-wrapper a {
                color: #608DA4;
            }

        .tap-title-wrapper {
            position: fixed;
            top: 2.8em;
            left: 0;
            width: 100%;
            height: 2.5em;
            border-bottom: 1px solid #ccc;
            background: #fff;
        }

            .tap-title-wrapper span {
                float: left;
                width: 20%;
                text-align: center;
                height: 2.5em;
                line-height: 2.5em;
                color: #333;
            }

            .tap-title-wrapper .on {
                color: #608DA4;
                border-bottom: 2px solid orange;
            }

        .tap-cont-list {
            display: none;
        }

        .tap-cont-wrapper {
            padding-top: 5.3em;
        }

            .tap-cont-wrapper .show {
                display: block;
            }

        .tap-cont-list li {
            overflow: hidden;
            padding: 0.6em 0.5em 0;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            margin-bottom: 1em;
            background: #fff;
        }

        .tap-cont-list .item-top {
            overflow: hidden;
            padding-bottom: 0.7em;
            border-bottom: 1px solid #eee;
        }

            .tap-cont-list .item-top .img {
                overflow: hidden;
                float: left;
                width: 4em;
                height: 4em;
                border-radius: 5px;
            }

                .tap-cont-list .item-top .img img {
                    width: 100%;
                    height: 100%;
                }

            .tap-cont-list .item-top .cont {
                overflow: hidden;
                padding: 0 0.5em;
            }

                .tap-cont-list .item-top .cont h3 {
                    color: #608DA4;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: bold;
                    margin-bottom: 0.3em;
                }

                .tap-cont-list .item-top .cont p {
                    color: #999;
                    font-size: 0.9em;
                    overflow: hidden;
                    height: 2.5em;
                    text-indent: 1em;
                    line-height: 2.5em;
                }

        .tap-cont-list .item-bottom {
            overflow: hidden;
            line-height: 2.5em;
            height: 2.5em;
            font-size: 0.8em;
            text-align: center;
        }

            .tap-cont-list .item-bottom span {
                color: #608DA4;
                padding: 0 1em;
            }

        .info {
            display: block;
            line-height: 2em;
            text-align: center;
            color: #999;
            margin-bottom: 1em;
        }
		.qrcode-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;
		}
		.qrcode-wrapper .qmask {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.7);
		}
		.qrcode-wrapper #qrcode {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -10em;
			margin-left: -10em;
			width: 20em;
			height: 20em;
			background: #fff;
			border: 0.3em solid #fff;
		}
		.qrcode-wrapper #qrcode img {
			display: block;
			width: 100%;
			height: 100%;
		}
    </style>
</head>
<body>
    <div class="l">
        <div class="nav-wrapper">
            <a href="/user/index" class="backhome fl"><返回主页</a>
        </div>

        <div class="tap-title-wrapper clearfix">
            <span data-tap="all" class="tab-title-list on">全部</span>
            <span data-tap="notstart" class="tab-title-list">未中奖</span>
            <span data-tap="starting" class="tab-title-list">未核销</span>
            <span data-tap="finished" class="tab-title-list">已核销</span>
        </div>

        <div class="tap-cont-wrapper">
            @{
                var noPrizeList = new List<Tuple<string, string, string, string, DateTime?, bool, TargetCode>>();
                var noUsedList = new List<Tuple<string, string, string, string, DateTime?, bool, TargetCode>>();
                var hadUsedList = new List<Tuple<string, string, string, string, DateTime?, bool, TargetCode>>();
                if (list != null && list.Count > 0)
                {
                    noPrizeList = list.Where(x => !x.Item6).ToList();
                    noUsedList = list.Where(x => x.Item6 && !x.Item5.HasValue).ToList();
                    hadUsedList = list.Where(x => x.Item6 && x.Item5.HasValue).ToList();
                }
            }
            <ul data-tap="all" class="tap-cont-list show">
                @if (list != null && list.Count > 0)
                {

                    foreach (var item in list)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                            case TargetCode.Miaosha:
                                name = "miaosha";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)&userActId=@(item.Item4)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">
                                        <h3>@Html.Raw(item.Item1)</h3>
                                        @if (item.Item6)
                                        {
                                            if (item.Item5.HasValue)
                                            {
                                                <p>
                                                    <span class="pr20">领取时间：@(item.Item5.Value.ToString("yyyy-MM-dd HH:mm"))</span>
                                                    <span>是否中奖：</span><span class="c-f00">是</span>
                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <span class="pr20">未领取</span>
                                                    <span>是否中奖：</span><span class="c-f00">是</span>
                                                </p>
                                            }
                                        }
                                        else
                                        {
                                            <p>
                                                @*<span class="pr20">@(item.Item5.Value.ToString("yyyy-MM-dd HH:mm"))</span>*@
                                                <span>是否中奖：</span><span class="c-f00">否</span>
                                            </p>
                                        }
                                    </div>
                                </a>
                            </div>
                            @if (!item.Item6)
                            {
                                <div class="item-bottom">
                                    <span class="prizeBtn"  data-id="@item.Item4">兑奖</span>
                                </div>
                            }
                        </li>
                    }
                }

            </ul>
            <ul data-tap="notstart" class="tap-cont-list">
                @if (noPrizeList != null && noPrizeList.Count > 0)
                {
                    foreach (var item in noPrizeList)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                            case TargetCode.Miaosha:
                                name = "miaosha";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)&userActId=@(item.Item3)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">

                                        <h3>@Html.Raw(item.Item1)</h3>
                                        <p>
                                            <span class="pr20">未中奖</span>
                                            <span>是否中奖：</span><span class="c-f00">是</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-bottom">

                            </div>
                        </li>
                    }
                }
            </ul>
            <ul data-tap="starting" class="tap-cont-list">
                @if (noUsedList != null && noUsedList.Count > 0)
                {
                    foreach (var item in noUsedList)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                            case TargetCode.Miaosha:
                                name = "miaosha";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">
                                        <h3>@Html.Raw(item.Item1)</h3>
                                        <p>
                                            <span class="pr20">未领取</span>
                                            <span>是否中奖：</span><span class="c-f00">是</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-bottom">
                                <span class="prizeBtn" data-id="@item.Item4">兑奖</span>
                            </div>
                        </li>
                    }
                }
            </ul>
            <ul data-tap="finished" class="tap-cont-list">
                @if (hadUsedList != null && hadUsedList.Count > 0)
                {
                    foreach (var item in hadUsedList)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                            case TargetCode.Miaosha:
                                name = "miaosha";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">
                                        <h3>@Html.Raw(item.Item1)</h3>
                                        <p>
                                            <span class="pr20">已领取：@(item.Item5.Value.ToString("yyyy-MM-dd HH:mm"))</span>
                                            <span>是否中奖：</span><span class="c-f00">是</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-bottom">
                            </div>
                        </li>
                    }
                }
            </ul>
            <span class="info">没有更多了</span>
            <div class="qrcode-wrapper hidden">
                <div class="qmask"></div>
                <div id="qrcode">
                </div>
            </div>
        </div>
    </div>
    <script src="~/Areas/Admin/Scripts/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        var judge = true;
        $(function () {
            $(document).on('click', '.tab-title-list', function () {
                var that = this;
                $(this).addClass('on').siblings().removeClass('on');
                $.each($('.tap-cont-wrapper .tap-cont-list'), function (i, obj) {
                    if ($(obj).attr('data-tap') == $(that).attr('data-tap')) {
                        $(obj).addClass('show').siblings().removeClass('show');
                        return false;
                    }
                })
            })
			.on('click', '.prizeBtn', function () {
			    if (!judge) return false;
			    judge = false;
			    setTimeout(function () {
			        judge = true;
			    }, 1500)
			    $('.qrcode-wrapper').removeClass('hidden');
			    $("#qrcode").html("");
			    var id = $(this).attr("data-id");
			    $("#qrcode").qrcode({
			        width: 270, //宽度
			        height: 270, //高度

			        typeNumber: -1,//计算模式
			        correctLevel: 2,//二维码纠错级别
			        background: "#ffffff",//背景颜色
			        foreground: "#000000",  //二维码颜色
			        text: "@(Params.SiteUrl)/shop/toused?id=" + id
			        //任意内容
			    });

			})
			.on('click', '.qmask', function () {
			    if (!judge) return false;
			    judge = false;
			    setTimeout(function () {
			        judge = true;
			    }, 1000)
			    $('.qrcode-wrapper').addClass('hidden');
			})
        })

    </script>

</body>
</html>
