@{
    var list=ViewBag.List as List<Tuple<string, string, string, DateTime, DateTime,bool, TargetCode>>;
    ViewBag.Title = "我的活动";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style1.css">
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <style>
        html {
            background: #f9f9ff;
        }

        .nav-wrapper {
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            padding: 0.4em 1em;
            width: 100%;
            height: 2.8em;
            line-height: 2em;
            border-bottom: 1px dashed #eee;
            background: #fff;
        }

            .nav-wrapper a {
                color: #608DA4;
            }

        .tap-title-wrapper {
            position: fixed;
            top: 2.8em;
            left: 0;
            width: 100%;
            height: 2.5em;
            border-bottom: 1px solid #ccc;
            background: #fff;
        }

            .tap-title-wrapper span {
                float: left;
                width: 20%;
                text-align: center;
                height: 2.5em;
                line-height: 2.5em;
                color: #333;
            }

            .tap-title-wrapper .on {
                color: #608DA4;
                border-bottom: 2px solid orange;
            }

        .tap-cont-list {
            display: none;
        }

        .tap-cont-wrapper {
            padding-top: 5.3em;
        }

            .tap-cont-wrapper .show {
                display: block;
            }

        .tap-cont-list li {
            overflow: hidden;
            padding: 0.6em 0.5em 0;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            margin-bottom: 1em;
            background: #fff;
        }

        .tap-cont-list .item-top {
            overflow: hidden;
            padding-bottom: 0.7em;
            border-bottom: 1px solid #eee;
        }

            .tap-cont-list .item-top .img {
                overflow: hidden;
                float: left;
                width: 4em;
                height: 4em;
                border-radius: 5px;
            }

                .tap-cont-list .item-top .img img {
                    width: 100%;
                    height: 100%;
                }

            .tap-cont-list .item-top .cont {
                overflow: hidden;
                padding: 0 0.5em;
            }

                .tap-cont-list .item-top .cont h3 {
                    color: #608DA4;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: bold;
                    margin-bottom: 0.3em;
                }

                .tap-cont-list .item-top .cont p {
                    color: #999;
                    font-size: 0.8em;
                    overflow: hidden;
                    height: 2.5em;
                }

        .tap-cont-list .item-bottom {
            overflow: hidden;
            line-height: 2.5em;
            height: 2.5em;
            font-size: 0.8em;
            text-align: center;
        }

            .tap-cont-list .item-bottom span {
                color: #608DA4;
                padding: 0 1em;
            }

        .info {
            display: block;
            line-height: 2em;
            text-align: center;
            color: #999;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div class="l">
        <div class="nav-wrapper">
            <a href="/user/index" class="backhome fl"><返回主页</a>
            <a href="/home/index" class="backhome fr"><i class="icon icon-addto"></i> 制作活动</a>
        </div>

        <div class="tap-title-wrapper clearfix">
            <span data-tap="all" class="tab-title-list on">全部</span>
            <span data-tap="notstart" class="tab-title-list">未开始</span>
            <span data-tap="starting" class="tab-title-list">进行中</span>
            <span data-tap="finished" class="tab-title-list">已结束</span>
            <span data-tap="offshelves" class="tab-title-list">已下架</span>
        </div>

        <div class="tap-cont-wrapper">
            @{
                var noStartList = new List<Tuple<string, string, string, DateTime, DateTime,bool, TargetCode>>();
                var startList = new List<Tuple<string, string, string, DateTime, DateTime, bool, TargetCode>>();
                var endList = new List<Tuple<string, string, string, DateTime, DateTime, bool, TargetCode>>();
                var deleteList = new List<Tuple<string, string, string, DateTime, DateTime, bool, TargetCode>>();
                if (list != null && list.Count > 0)
                {
                    noStartList = list.Where(x => x.Item4 < DateTime.Now).ToList();
                    startList = list.Where(x => x.Item4 > DateTime.Now&&x.Item5>DateTime.Now).ToList();
                    endList = list.Where(x => x.Item5 < DateTime.Now).ToList();
                    deleteList = list.Where(x => x.Item6).ToList();
                }
          }
            <ul data-tap="all" class="tap-cont-list show">
                @if (list != null && list.Count > 0)
                {

                    foreach (var item in list)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">
                                        <h3>@item.Item1</h3>
                                        @*<p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>*@
                                    </div>
                                </a>
                            </div>
                            <div class="item-bottom">
                                <span>参与人员</span>
                                <span>编辑</span>
                                <span>生成链接</span>
                                <!-- <span>复制活动</span> -->
                                <span>删除活动</span>
                            </div>
                        </li>
                    }
                }
                
            </ul>
            <ul data-tap="notstart" class="tap-cont-list">
                @if (noStartList != null && noStartList.Count > 0)
                {
                    foreach (var item in noStartList)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">
                                        <h3>@item.Item1</h3>
                                        @*<p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>*@
                                    </div>
                                </a>
                            </div>
                            <div class="item-bottom">
                                <span>编辑</span>
                                <span>生成链接</span>
                                <span>删除活动</span>
                            </div>
                        </li>
                    }
                }
            </ul>
            <ul data-tap="starting" class="tap-cont-list">
                @if (startList != null && startList.Count > 0)
                {
                    foreach (var item in startList)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">
                                        <h3>@item.Item1</h3>
                                        @*<p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>*@
                                    </div>
                                </a>
                            </div>
                            <div class="item-bottom">
                                <span>编辑</span>
                                <span>生成链接</span>
                                <span>删除活动</span>
                            </div>
                        </li>
                    }
                }
            </ul>
            <ul data-tap="finished" class="tap-cont-list">
                @if (endList != null && endList.Count > 0)
                {
                    foreach (var item in endList)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">
                                        <h3>@item.Item1</h3>
                                        @*<p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>*@
                                    </div>
                                </a>
                            </div>
                            <div class="item-bottom">
                                <span>参与人员</span>
                                <span>编辑</span>
                                <span>删除活动</span>
                            </div>
                        </li>
                    }
                }
            </ul>
            <ul data-tap="offshelves" class="tap-cont-list">
                @if (deleteList != null && deleteList.Count > 0)
                {
                    foreach (var item in deleteList)
                    {
                        var name = "";
                        switch (item.Item7)
                        {
                            case TargetCode.Kanjia:
                                name = "kanjia";
                                break;
                            case TargetCode.Pintuan:
                                name = "pintuan";
                                break;
                        }
                        <li>
                            <div class="item-top">
                                <a href="/user/@(name)?id=@(item.Item3)">
                                    <div class="img">
                                        <img src="@item.Item2" alt="图片丢失">
                                    </div>
                                    <div class="cont">
                                        <h3>@item.Item1</h3>
                                        @*<p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>*@
                                    </div>
                                </a>
                            </div>
                            <div class="item-bottom">
                                <span>参与人员</span>
                                <span>编辑</span>
                                <span>删除活动</span>
                            </div>
                        </li>
                    }
                }
            </ul>
            <span class="info">没有更多了</span>
        </div>
    </div>

    <script type="text/javascript">
		$(function() {
			$(document).on('click', '.tab-title-list', function() {
                        var that = this;
				$(this).addClass('on').siblings().removeClass('on');
				$.each($('.tap-cont-wrapper .tap-cont-list'), function(i, obj) {
                            if($(obj).attr('data-tap') == $(that).attr('data-tap')) {
						$(obj).addClass('show').siblings().removeClass('show');
                                return false;
                            }
                        })
			})
		})

    </script>

</body>
</html>

