@using WST.Core.Extensions
@model User
@{
    ViewBag.Title = "会员中心";
    var storeList = ViewBag.StoreList as List<Store>;
    var userStoreIdList = new List<string>();
    if (Model != null && Model.UserStores != null && Model.UserStores.Count > 0)
    {
        userStoreIdList = Model.UserStores.Select(x => x.StoreID).ToList();
    }
}

@section linkcss
{
    <link rel="stylesheet" href="~/css/Index.css">
}

<div class="wrap" id="Index">
    <!-- 会员结构 （已开通）-->
    <div class="cont vip-cont swiper-container3 swiper-container-horizontal" id="swiper-container3">
        <div class="card-div">
            <div class="swiper-container swiper-container-c swiper-container-horizontal" id="swiper-container-c">
                <div class="swiper-wrapper">
                    @if (storeList != null && storeList.Count > 0)
                    {
                        foreach (var item in storeList)
                        {
                            <div class="swiper-slide swiper-slide-active" style="width: 375px;" data-id="@item.ID" data-userStoreId="@item.UserStoreID">
                                <div class="ss-outer">
                                    <div class="ss-inner">
                                        @if (userStoreIdList.Contains(item.ID))
                                        {
                                            <div class="approach">
                                                <div class="a-btn"></div>
                                                <div class="a-adress">
                                                    <span>@item.Name </span>
                                                    @if (item.TodayHadSign)
                                                    {
                                                        <strong>@(item.TodayHadSign ? "已入场" : "未入场")</strong>
                                                    }
                                                </div>

                                            </div>
                                            <div class="user-img">
                                                <img src="@Model.HeadImgUrl" alt="">
                                            </div>
                                            <div class="time-remain">
                                                @if (item.EndTime.Value > DateTime.Now)
                                                {
                                                    <div class="sstr-tit">剩余时间</div>
                                                    <div class="sstr-num">@((item.EndTime.Value - DateTime.Now).Days)</div>
                                                }
                                                else
                                                {
                                                    <div class="sstr-tit">剩余时间</div>
                                                    <div class="sstr-tit">已到期</div>
                                                }
                                            </div>
                                            <div class="card-number">
                                                <div class="cn-number">@(Model.CardNO.IsNotNullOrEmpty() ? "NO." + Model.CardNO : "")</div>
                                                <a href="/store/BuyCard?isBuy=false"><div class="cn-recharge-btn">立 即 充 值</div></a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="approach">
                                                <div class="a-adress">@item.Name</div>
                                            </div>
                                            <div class="user-img">
                                                <img src="@Model.HeadImgUrl" alt="">
                                            </div>
                                            <div class="time-remain">
                                                <div class="sstr-tit">剩余时间</div>
                                                <div class="a-state">尚未开通</div>
                                            </div>
                                            <div class="card-number">
                                                <div class="cn-number">@(Model.CardNO.IsNotNullOrEmpty() ? "NO." + Model.CardNO : "")</div>
                                                <a href="/store/BuyCard?isBuy=true"><div class="cn-recharge-btn">开通</div></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
            </div>
        </div>
        <div class="cont-main">
            <div class="swiper-container swiper-container-h swiper-container-horizontal">
                <div class="swiper-wrapper">
                    @if (storeList != null && storeList.Count > 0)
                    {
                        foreach (var item in storeList)
                        {
                            <div class="swiper-slide swiper-slide-active" style="width: 375px;">
                                <div class="ss-outer">
                                    <div class="cm-div">
                                        @if (userStoreIdList.Contains(item.ID) && item.EndTime.HasValue && item.EndTime.Value > DateTime.Now)
                                        {
                                            <a href="/store/courselist?storeId=@(item.ID)" class="cm-btn">
                                                <div class="cm-img"></div>
                                                <div class="cm-tit">本周课程</div>

                                            </a>
                                            <a href="/store/mastersort?storeId=@(item.ID)" class="cm-btn">
                                                <div class="cm-img"></div>
                                                <div class="cm-tit">达人排名</div>

                                            </a>
                                            <a href="/store/balance?storeId=@(item.ID)" class="cm-btn">
                                                <div class="cm-img"></div>
                                                <div class="cm-tit">购买商品</div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/store/BuyCard?isBuy=true" class="cm-btn cm-recharge">
                                                <div class="cm-tit">立即开通</div>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 入场二维码 -->
<div class="eq-img">
    <div class="eqi-div">
        <div class="eqi-tx">
            <img src="@Model.HeadImgUrl" alt="">
        </div>
        <div class="eqi-node">@Model.CardNO</div>
        <div class="eqi-name">用户昵称：<span>@Model.RealName</span></div>
        @if (storeList != null && storeList.Count > 0)
            {
                foreach (var item in storeList)
                {
                    if (item.EndTime.HasValue)
                    {
                        if (item.EndTime.Value > DateTime.Now)
                        {
                        <div id="store_@(item.ID)" style="display:none;" class="store-div">
                            <div class="eqi-times">
                                剩余时间：
                                <span>@((item.EndTime.Value - DateTime.Now).Days)天</span>
                            </div>
                            <div class="eqi-word">TURN ON THE DAILY PASSION MOMENT</div>
                            <div class="eqi-eqimg code-img">

                            </div>
                            <div class="eqi-txt">凭此二维码进入场馆</div>
                        </div>
                    }
                    else
                    {
                        <div id="store_@(item.ID)" style="display:none;" class="store-div">
                            <div class="eqi-times">
                                剩余时间：
                                <span>已到期</span>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="eqi-times" id="store_@(item.ID)" style="display:none;">
                        剩余时间：<span>未开通</span>
                    </div>
                }
            }
        }
    </div>

    <div class="eqi-close"></div>

</div>

@section scripts
{
    <script src="~/Areas/Admin/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Areas/Admin/Scripts/jquery.qrcode.min.js"></script>
    <script>

        var Swiper1 = new Swiper('.swiper-container-c', {
            pagination: '.swiper-pagination',
            onSlideChangeEnd: function (swiper) {
                console.log(swiper.activeIndex);
                PageIndex = swiper.activeIndex;
                localStorage.setItem('PageIndex', PageIndex);
            }
        });
        var Swiper2 = new Swiper('.swiper-container-h', {
        });
        // console.log(Swiper1);
        Swiper1.params.control = Swiper2;
        Swiper2.params.control = Swiper1;
        var Swiper3 = new Swiper('.swiper-container3', {
            control: [Swiper1, Swiper2],

        })

        var PageIndex = localStorage.getItem('PageIndex');
        if (!PageIndex && PageIndex != 0) {
            console.log('第一次进入');
        } else {
            console.log(PageIndex);
            Swiper1.slideTo(PageIndex, 800, false);
        }


        $('.user-img').on('click', function () {
            window.location.href = '/user/perfectinfo';
        });
        var storeId = "";
        $(document).on('click', '.a-btn', function () {
            storeId = $(".swiper-slide-active").attr("data-id");
            var userStoreId = $(".swiper-slide-active").attr("data-userStoreId");
            $(".code-img").html("");
            $(".store-div").hide();
            $("#store_" + storeId).show();
            $("#store_" + storeId + " .code-img").qrcode({
                width: 154, //宽度
                height: 154, //高度

                typeNumber: -1,//计算模式
                correctLevel: 2,//二维码纠错级别
                background: "#ffffff",//背景颜色
                foreground: "#000000",  //二维码颜色
                text: "@(Params.SiteUrl)?id=" + userStoreId
                //任意内容
            });
            $('.eq-img').show();
        });
        $(document).on('click', '.eqi-close', function () {
            $('.eq-img').hide();
        });

        $.connection.hub.logging = true;
        $.connection.hub.start()
            .done(function (data) {
                //console.log("当前clientID=" + data.id);
            })
            .fail(function () { console.log("Could not Connect!"); });;

        var chatHub = $.connection.ChatHub;
        //允许进场
        chatHub.client.AllowApproach = function (msg) {
            window.location.href = "/store/signin?storeId=" + storeId;
        }

        //不允许进场
        chatHub.client.RejectApproach = function (msg) {

            var boxObj1 = BOXOPEN({
                type: 1,
                txt: "很抱歉，管理人员不让你进场"
            });
        }


        //不允许出场
        chatHub.client.RejectOut = function (msg) {

            var boxObj1 = BOXOPEN({
                type: 1,
                txt: "很抱歉，管理人员不让你出场"
            });
        }


        //允许出场
        chatHub.client.AllowOut = function (msg) {
            window.location.reload();
        }
    </script>

}