@using WST.Core.Extensions
@model User
@{
    ViewBag.Title = "个人中心";
    Layout = null;
    var isMember = Model.IsMember || (Model.EndTime.HasValue && Model.EndTime > DateTime.Now);
}

@section linkcss
{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title </title>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style1.css">
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <style>
        html {
            background: #fff;
        }

        .wrap {
            /*padding-bottom: 3.87em;*/
        }
        /*头部*/
        .icon {
            position: relative;
            top: 0.08em;
        }

        .head {
            position: relative;
            overflow: hidden;
            height: 12em;
            padding: 0.6em 1em;
            background: #fff;
            background: url(/assets/img/banner/BG.jpg) center center no-repeat;
            background-size: 100% 100%;
        }

        .my-portrait {
            position: absolute;
            overflow: hidden;
            left: 23%;
            bottom: -5%;
            margin-left: -2em;
            width: 30em;
            height: 8em;
        }

            .my-portrait .headimg {
                overflow: hidden;
                float: left;
                width: 7em;
                height: 7em;
                border-radius: 50%;
                border: 2px solid #608DA4;
            }

                .my-portrait .headimg img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 0.27em solid #fff;
                    border-radius: 50%;
                    box-sizing: border-box;
                }

        .head p {
            float: left;
            height: 1.3em;
            padding: 0 0.2em;
            margin-top: 2em;
            margin-left: 0.5em;
            font-size: 1.1em;
            color: #608DA4;
        }

        .head a {
            float: right;
            width: 60px;
            height: 46px;
            line-height: 46px;
            font-size: 14px;
            color: #929292;
        }
        /*特权卡*/
        .privilege-card {
            padding: 1em;
            width: 90%;
            margin: 0 auto;
            font-size: 1.1em;
            background: #fff;
            border-radius: 7px;
            box-shadow: 0px 1px 4px 0px #608DA4;
        }

        .privilege-tit span {
            color: #4261B9;
            font-weight: bold;
        }

        .privilege-tit {
            margin-bottom: 1.2em;
        }

            .privilege-tit a {
                /*float: right;*/
                color: #4261B9;
            }

        .privilege-con {
            color: #333;
            text-align: center;
        }

        .balance-div {
            float: left;
            width: 50%;
        }

            .balance-div strong, .balance-div span {
                display: block;
                color: #608DA4;
            }

            .balance-div:nth-child(1) strong {
                -webkit-box-shadow: 1px 0 0 0 #ccc;
                box-shadow: 1px 0 0 0 #ccc;
                color: #608DA4;
            }

            .balance-div:nth-child(2) strong {
                -webkit-box-shadow: -1px 0 0 0 #ccc;
                box-shadow: -1px 0 0 0 #ccc;
                color: #608DA4;
            }
        /*内容*/
        .content {
            margin-bottom: 15px;
            background: #fff;
            font-size: 16px;
        }

            .content .ico-outer {
                float: left;
                width: 46%;
                padding: 2%;
            }

        .con-ico-bor1 {
            -webkit-box-shadow: 0 1px 0 0 #ddd;
            box-shadow: 0 1px 0 0 #ddd;
        }

        .con-ico-bor {
            -webkit-box-shadow: 1px 0 0 0 #ddd;
            box-shadow: 1px 0 0 0 #ddd;
        }

        .content .ico-outer div {
            padding-left: 47px;
        }

            .content .ico-outer div p span, .content > div div p em {
                color: #000;
                display: block;
            }

            .content .ico-outer div p em {
                font-size: 12px;
                color: #666;
            }

        .favorite-wrapper {
            padding: 1em 0;
        }

        .favorite {
            width: 93%;
            margin: 0 auto;
            line-height: 2.5em;
            padding: 0 1em;
            font-size: 1.1em;
            text-indent: 0.5em;
            color: #000;
            background: #fff;
            border-bottom: 1px dashed #ddd;
        }

            .favorite a {
                display: block;
                overflow: hidden;
                color: #777;
            }

                .favorite a span {
                    float: right;
                    color: #ccc;
                }

        .foot-wrapper {
            padding-bottom: 2em;
            margin-top: 1em;
            overflow: hidden;
        }

            .foot-wrapper .button {
                background: #608DA4;
                width: 79%;
                color: #fff;
                text-align: center;
                font-weight: bold;
                line-height: 2.5em;
                height: 2.5em;
                padding: 0;
                border-radius: 0.5em;
            }
    </style>
</head>
<body>
    <div class="wrap l">
        <div class="head clearfix">
            <div class="my-portrait">
                <div class="headimg">
                    <img src="@(Model.HeadImgUrl)" alt="头像丢失">
                </div>
                <p>
                    @if (isMember)
                    {
                        <span class="user-name fB f11">沃商通商户</span><br>
                        <span class="user-phone">@(Model.StoreName.IsNotNullOrEmpty()?Model.StoreName:Model.NickName)</span><br>
                        <span class="user-phone f08 c-f00">过期时间：@(Model.EndTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))</span>
                    }
                    else
                    {
                        <span class="user-name fB f11">沃商通用户</span><br>
                        <span class="user-phone">@(Model.NickName)</span><br>
                    }
                </p>
            </div>
            @*<a href="#" class="fl c-000"><i class="icon icon icon-loginout"></i> 退出</a>*@
        </div>
        <div class="privilege-card">
                <div class="privilege-tit clearfix">
                    <a href="/user/wallet"><i class="icon icon-payment"></i> 进入钱包</a>
                </div>
                <div class="privilege-con clearfix">
                    <div class="balance-div">
                        <strong>余额</strong>
                        <span>@(Model.Balance)</span>
                    </div>
                    <div class="balance-div">
                        <strong>总充值</strong>
                        <span>@(Model.TotalRecharge)</span>
                    </div>
                </div>
            </div>
        <div class="favorite-wrapper">
            @*<div class="favorite pic-ico">
                    <a href="">活动教程<span>></span></a>
                </div>*@

            @if (isMember)
            {
            <div class="favorite pic-ico">
                    <a href="/shop/actlist">商家活动<span>></span></a>
                </div>
            }
            <div class="favorite pic-ico">
                <a href="https://mp.weixin.qq.com/s/tTi6fndmI49zQ7AjHnCynQ">付费方式<span>></span></a>
            </div>

            <div class="favorite pic-ico">
                <a href="https://mp.weixin.qq.com/s/_QFZp-L6yAI9Lt3gJ5zYIw">常见问题<span>></span></a>
            </div>

            <div class="favorite pic-ico">
                <a href="https://mp.weixin.qq.com/s/j-RS2UP-qF6CFrKoasAB3A">联系客服<span>></span></a>
            </div>
        </div>

        <div class="foot-wrapper">
            @if (isMember)
            {
                <div class="w47 fl">
                    <div class="button fr"><a href="/home/index">制作活动</a></div>
                </div>
                <div class="w47 fr">
                    <div class="button fl"><a href="/user/actlist">我的活动</a></div>
                </div>
            }
            else
            {
                <div class="w47 fl">
                    <div class="button fr"><a href="/home/index">制作活动</a></div>
                </div>
                <div class="w47 fr">
                    <div class="button fl"><a href="/user/actlist">我的活动</a></div>
                </div>
            }
        </div>
    </div>
</body>
</html>

@section scripts
{

}