@using WST.Core.Extensions;
@model User
@{
    ViewBag.Title = "个人资料";
}

@section linkcss
{

    <link rel="stylesheet" href="~/css/PersonalData.css">
    <link rel="stylesheet" href="~/css/FJL.css">
    <link rel="stylesheet" type="text/css" href="~/css/FJL.picker.css" />

    <link rel="stylesheet" href="~/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/app.css" />
    <link href="~/css/mui.picker.css" rel="stylesheet" />
    <link href="~/css/mui.poppicker.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/css/muiOther.css" />
}


<div class="wrap" id="Index">
    <div class="head-div">
        <a href="javascript:history.go(-1);"><i></i></a>
        <span>个人资料</span>
    </div>
    <div class="cont person-data">
        <div class="pd-data">
            <div class="pdd-item pdd-sex">
                <div class="pdd-tit">性别:</div>
                <div class="pdd-input">
                    <input id="pddSexInput" type="text" placeholder="点击填写" value="@(Model.Sex.GetDescription())"  disabled="disabled">
                    <i></i>
                    <div class="pdd-bg" id="pddSex"></div>
                </div>

            </div>
            <div class="pdd-item pdd-bthday">
                <div class="pdd-tit">生日:</div>
                <div class="pdd-input">
                    <input id="pddBthdayInput" type="text" placeholder="点击填写" value="@(Model.BirthDay.HasValue?Model.BirthDay.Value.ToString("yyyy-MM-dd"):"")" disabled="disabled">
                    <i></i>
                    <div class="pdd-bg pdd-sexs" id="pddBthday" data-options="{&quot;type&quot;:&quot;date&quot;,&quot;beginYear&quot;:1960,&quot;endYear&quot;:1999}"></div>
                </div>
            </div>
            <div class="pdd-item pdd-height">
                <div class="pdd-tit">身高:</div>
                <div class="pdd-input">
                    <input id="pddHeightInput" type="text" placeholder="点击填写" value="@(Model.Height.HasValue?(Model.Height.Value+"cm"):"")" disabled="disabled">
                    <i></i>
                    <div class="pdd-bg" id="pddHeight"></div>
                </div>
            </div>
            <div class="pdd-item pdd-weight">
                <div class="pdd-tit">体重:</div>
                <div class="pdd-input">
                    <input id="pddWeightInput" type="text" placeholder="点击填写" value="@(Model.Weight.HasValue?(Model.Weight.Value+"kg"):"")" disabled="disabled">
                    <i></i>
                    <div class="pdd-bg" id="pddWeight"></div>
                </div>
            </div>
        </div>

        @*<div class="pd-infor">注：若需再次修改，可在公众号回复【个人资料】</div>*@
    </div>
</div>

<div class="save-btn">保 存</div>
@section scripts
{

    <script src="~/js/mui.min.js"></script>
    <script src="~/js/mui.picker.min.js"></script>
    <script src="~/js/mui.poppicker.js"></script>
    <script>
		var selecType;

		$(document).on('click', '.save-btn', function () {
		    var data = {
		        "sex": $('.pdd-sex .pdd-input input').val(),
		        "bthday": $('.pdd-bthday .pdd-input input').val(),
		        "height": $('.pdd-height .pdd-input input').val(),
		        "weight": $('.pdd-weight .pdd-input input').val()
		    }
		    var msg = "";
		    if (data.sex == "") {
		        msg = "请选择性别"
		    }
		    else {
                data.sex=data.sex=="男"?"1":(data.sex=="女"?"2":"0")
		    }
		    if (data.bthday == "") {
		        msg = "请选择生日"
		    }
		    if (data.height == "") {
		        msg = "请选择身高"
		    }
		    if (data.weight == "") {
		        msg = "请选择体重"
		    }
		    if (msg != "") {
		        var boxObj1 = BOXOPEN({
		            type: 1,
		            txt: msg
		        });
		        return false;
		    }
		    $.ajax({
		        url: "/user/PerfectInfo",
		        method: "post",
		        data: { sex: data.sex, birth: data.bthday, height: data.height.replace("cm", ""), weight: data.weight.replace("kg", "") },
		        success: function (data) {
		            if (data.Code == 0) {
		                window.location.href = "/user/index";

		            } else {
		                var boxObj1 = BOXOPEN({
		                    type: 1,
		                    txt: data.ErrorDesc
		                });
		            }
		        }
		    });
		});

		$(document).on('click', '.pdd-sex .pdd-input, .pdd-height .pdd-input, .pdd-weight .pdd-input', function () {
		    var thisClass = $(this).parents('.pdd-item').attr('class');
		    if ($(this).parents('.pdd-item').hasClass('pdd-sex')) {
		        selecType = 1;
		    };
		    if ($(this).parents('.pdd-item').hasClass('pdd-height')) {
		        selecType = 2;
		    };
		    if ($(this).parents('.pdd-item').hasClass('pdd-weight')) {
		        selecType = 3;
		    };
		    evaluate(selecType);
		    $('.mui-other-bg').show();

		});

		$(document).on('click', '.mui-other-no, .mui-other-bg', function () {
		    $('.mui-other-bg').hide();
		    $('.mui-other-div').css('bottom', '-500px');
		});

		$(document).on('click', '.mui-other-ok', function () {
		    $('.mui-other-bg').hide();
		    $('.mui-other-div').css('bottom', '-500px');
		    if (selecType == 1) {
		        var sureValue = $('.mui-sex .highlight').text();
		        var value = $('.mui-sex .highlight').attr("data-value");
		        $('.pdd-sex .pdd-input input').attr("data-value", value);
		        $('.pdd-sex .pdd-input input').val(sureValue);
		    };
		    if (selecType == 2) {
		        var sureValue = $('.mui-height .highlight').text();
		        $('.pdd-height .pdd-input input').val(sureValue + 'cm');
		    };
		    if (selecType == 3) {
		        var sureValue = $('.mui-weight .highlight').text();
		        $('.pdd-weight .pdd-input input').val(sureValue + 'kg');
		    };
		    console.log(sureValue);
		});

		function evaluate (type) {
			if (type == 1) {
				$('.mui-sex').css('bottom', 0);
			};
			if (type == 2) {
				$('.mui-height').css('bottom', 0);
			};
			if (type == 3) {
				$('.mui-weight').css('bottom', 0);
			};
		}

		(function($, doc) {
			var HeiArr = [];
			for (var i = 0; i < 91; i++) {
				HeiArr.push(i+140);
			};

			var WeiArr = [];
			for (var i = 0; i < 80; i++) {
				WeiArr.push(i+40);
			};
			console.log(WeiArr);
			$.init();
			$.ready(function() {

				var _getParam = function(obj, param) {
					return obj[param] || '';
				};
				// 身高
				var HeightPicker = new $.PopPicker();

				HeightPicker.setData(HeiArr);

				HeightPicker.pickers[0].setSelectedIndex(@(Model.Height.HasValue?Model.Height.Value-140:20));

				var showUserPickerButton = doc.getElementById('pddHeight');
				var userResult = doc.getElementById('pddHeightInput');

				showUserPickerButton.addEventListener('tap', function(event) {
					HeightPicker.show(function(items) {

						userResult.value = JSON.stringify(items[0]) + 'cm';

					});
				}, false);

				// 体重
				var WeightPicker = new $.PopPicker();

				WeightPicker.setData(WeiArr);

				WeightPicker.pickers[0].setSelectedIndex(@(Model.Weight.HasValue?Model.Weight.Value-40:10));

				var showUserPickerButton2 = doc.getElementById('pddWeight');
				var userResult2 = doc.getElementById('pddWeightInput');

				showUserPickerButton2.addEventListener('tap', function(event) {
					WeightPicker.show(function(items) {

						userResult2.value = JSON.stringify(items[0]) + 'kg';

					});
				}, false);

				// 性别
				var SexPicker = new $.PopPicker();

				SexPicker.setData(['男','女']);
				SexPicker.pickers[0].setSelectedIndex(11);

				var showUserPickerButton3 = doc.getElementById('pddSex');
				var userResult3 = doc.getElementById('pddSexInput');

				showUserPickerButton3.addEventListener('tap', function(event) {
					SexPicker.show(function(items) {
						userResult3.value = items[0];
					});
				}, false);

			});
		})(mui, document);

		(function($) {
			$.init();
			var result = $('#pddBthdayInput')[0];
			var btns = $('.pdd-sexs');
			btns.each(function(i, btn) {
				btn.addEventListener('tap', function() {
					var _self = this;
					if(_self.picker) {
						_self.picker.show(function (rs) {
							result.value = rs.text;
							_self.picker.dispose();
							_self.picker = null;
						});
					} else {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');

						_self.picker = new $.DtPicker(options);
						_self.picker.setSelectedValue("@(Model.BirthDay.HasValue?Model.BirthDay.Value.ToString("yyyy-MM-dd"):"1990-01-01")");

                        _self.picker.show(function(rs) {

                result.value = rs.text;

                _self.picker.dispose();
                _self.picker = null;
            });
        }

    }, false);
			});
		})(mui);
    </script>
}