@using WST.Core.Extensions
@model PinTuan
@{ 
    ViewBag.Title =Model.Name;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/reset.css?v=pintuan1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style1.css?v=pintuan1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/edit.css?v=pintuan1">
    <script type="text/javascript" src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/assets/js/my.js"></script>
    <!-- <script type="text/javascript" src="~/assets/js/import.js"></script> -->
    <style type="text/css">
        html {
        }

        .app {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
            padding-bottom: 3em;
        }

        .l .apply-btn {
            position: fixed;
            left: 50%;
            bottom: -0.5em;
            width: 80%;
            padding: 0;
            border-radius: 5px;
            float: none;
            margin: 0 auto 2em;
            margin-left: -40%;
            letter-spacing: 0.3em;
        }

        .apply-user-title {
            margin-top: -1em;
            border-bottom: 1px dashed #e5e5e5;
        }

            .apply-user-title .name {
                color: #525250;
                text-indent: 0.5em;
            }

            .apply-user-title .phone {
                color: #faa139;
            }

        .apply-user-list {
            line-height: 2em;
            overflow: hidden;
            text-align: left;
        }

            .apply-user-list .name {
                float: left;
                width: 30%;
                color: #525250;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .apply-user-list .phone {
                float: right;
                width: 35%;
                color: #faa139;
                text-align: center;
            }

        .apply-info-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }

            .apply-info-wrapper .amask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.7);
            }

            .apply-info-wrapper ul {
                position: absolute;
                top: 45%;
                left: 50%;
                margin-top: -5em;
                margin-left: -40%;
                width: 80%;
                min-height: 10em;
                background: #fff;
                color: #F6865A;
                padding: 0 1em;
            }

                .apply-info-wrapper ul li h3 {
                    line-height: 2.5em;
                    text-indent: 1em;
                    font-size: 1.2em;
                    border-bottom: 2px dashed #eee;
                }

                .apply-info-wrapper ul li {
                    line-height: 3em;
                    text-align: center;
                }

                    .apply-info-wrapper ul li input {
                        width: 50%;
                        padding: 0 1em;
                        border: 0;
                        border-bottom: 1px solid #ccc;
                        background: none;
                        outline: none;
                        color: #F6865A;
                    }

                        .apply-info-wrapper ul li input:focus {
                            border-color: #F6865A;
                        }

                    .apply-info-wrapper ul li .msg {
                        line-height: 1em;
                    }

                    .apply-info-wrapper ul li .button {
                        padding: 0;
                        border-radius: 5px;
                        width: 80%;
                        height: 2em;
                        line-height: 2em;
                        float: none;
                        margin: 0 auto 1em;
                    }
                    
                 .l .block {
display: block!important;
width: 100%;
}
.l .block .btn {
width: 100%;
text-align: left;
border-radius: 0;
}
.l .block .btn span:nth-child(even) {
margin-right: 1em;
}
    </style>
</head>
<body>
    <div class="app l view">
        <!-- global -->

        <div class="global-btn-wrapper block">
            <div class="btn c-fff f09">
                <span>浏览量：</span>
                <span>@Model.ClickCount</span>
                <span>分享量：</span>
                <span>@Model.ShareCount</span>
                <span>报名人数：</span>
                <span>@Model.JoinCount</span>
            </div>
        </div>
        <div class="global-component-wrapper">

            <div class="audio-component-wrapper hidden">
                <audio id="audio" oldsrc="@(Model.MusicUrl)" src="@(Model.MusicUrl)" autoplay="autoplay" preload="preload" loop="loop"></audio>
            </div>

            <div class="apply-info-wrapper hidden">
                <div class="amask"></div>
                <ul>
                    <li>
                        <h3>填写报名信息</h3>
                    </li>
                    <li>
                        <span>姓名：</span>
                        <input id="userName" type="text" name="" placeholder="请输入姓名" data-rules="请输入姓名">
                    </li>
                    <li>
                        <span>手机：</span>
                        <input id="userPhone" type="number" name="" placeholder="请输入手机号" data-rules="请输入手机号码">
                    </li>
                    <li>
                        <span class="msg c-f00"></span>
                        <div class="button submitUserInfo">提交</div>
                    </li>
                </ul>
            </div>

        </div>

        <!-- head -->
        <div class="head-wrapper">
            <div class="head-bg-wrapper">
                <img id="banner" src="@(Model.Picture)">
            </div>

        </div>

        <!-- title -->
        <div class="title-wrapper mt15">
            <div class="m00 w90">
                <!-- <textarea id="title" class="textarea e-textarea f16 fB txt-center" value="喜迎购物节，课程低价疯狂抢">喜迎购物节，课程低价疯狂抢</textarea> -->
                <div id="title" class="textarea e-textarea f16 fB txt-center">@(Model.Name)</div>

                <!-- <p class="v-p f16 fB txt-center"></p> -->
            </div>
        </div>

        <!-- activity -->
        <div class="activity-wrapper mt15">
            <span for="startTime">活动时间:</span>
            <input id="startTime"
                   type="text"
                   disabled="true"
                   name="startTime"
                   class="input e-input timeinput"
                   value="@(Model.StartTime.ToString("yyyy-MM-dd hh:mm"))" />
            <span>到</span>
            <input id="endTime"
                   type="text"
                   disabled="true"
                   name="endTime"
                   class="input e-input timeinput"
                   value="@(Model.EndTime.ToString("yyyy-MM-dd hh:mm"))" />
        </div>


        <!-- groupBooking -->
        <div class="groupBooking-wrapper mt15 w90 m10 f11">
            <div class="groupBooking-list">
                <span>当前参与人数：</span>
                <span class="c-f00">@(Model.JoinCount)</span>
                <span>，当前拼团价格：</span>
                <span class="c-f00">@ViewBag.Price</span>
                <span>元</span>
            </div>
            <div class="groupBooking-list">
                <span>原价：</span>
                <input id="oldPrice"
                       type="text"
                       disabled="true"
                       name="oldPrice"
                       class="input e-input w30"
                       value="@(Model.OldPrice)">
                <span class="">元</span>
            </div>

            <!-- <div class="groupBooking-list">
                <span>参与拼团需预付：</span>
                <input type="text" id="prepay" name="prepay" class="input e-input w20" value="6">
                <span class="v-span w20 input"></span>
                <span class="">元</span>
            </div> -->
             @foreach (var item in Model.PinTuanItemJson.DeserializeJson<List<PinTuanItem>>())
             {

                <div class="groupBooking-list sub-group">
                    <div class="groupBooking-list-item">
                        <div class="list-item-left">
                            <input id="groupNum1"
                                   type="number"
                                   disabled="true"
                                   name="groupNum1"
                                   class="input e-input sub-group-num"
                                   value="@(item.Count)">
                            <span>人团</span>
                        </div>
                        <div class="list-item-right">
                            <span>拼团价</span>
                            <input id="groupPrice1"
                                   type="number"
                                   disabled="true"
                                   name="groupPrice1"
                                   class="input e-input c-fff sub-group-price"
                                   value="@(item.Amount)">
                            <span>元/人</span>
                        </div>
                    </div>
                </div>
                
                }
        </div>

        <!-- body -->
        <div class="body-wrapper">

            <div class="model-list goodsDescribe-item">
                <div class="model-list-title">
                    <span>商品描述</span>
                </div>
                <div class="model-list-body">
                    <!-- sub-intro: 数据载体  data-type：类型-->
                    <!-- 遍历数组 如果当前项type为txt 就生成文本类型 img生成图片类型 -->
                    @foreach (var item in Model.GoodsItemsJson.DeserializeJson<List<TypeContentItem>>())
                    {
                        if (item.Type == "txt")
                        {
                              <!-- 文本类型 -->
                            <div class="uploadImgLabel">
                                <div id="subIntro0" contenteditable="false" data-type="txt" class="sub-intro textarea e-textarea" placeholder="请输入文本">@item.Content</div>
                            </div>

                        }
                        else
                        {
                    <!-- 图片类型 -->
                            <label for="uploadImg" data-target="subIntro1" class="uploadImgLabel">
                                <img id="subIntro1" class="sub-intro nosrc" data-type="img" src="@(item.Content)" alt="图片丢失">
                            </label>
                        }
                    }

                    @*<!-- 文本类型 -->
                    <div class="uploadImgLabel">
                        <div id="subIntro0" contenteditable="false" data-type="txt" class="sub-intro textarea e-textarea" placeholder="请输入文本">商品描述内容填充</div>
                    </div>

                    <!-- 图片类型 -->
                    <label for="uploadImg" data-target="subIntro1" class="uploadImgLabel">
                        <img id="subIntro1" class="sub-intro nosrc" data-type="img" src="图片路径" alt="图片丢失">
                    </label>*@

                </div>

            </div>

            <div class="model-list activityRule-item">
                <div class="model-list-title">
                    <span>活动规则</span>
                </div>
                <div class="model-list-body">

                    <div id="rules" contenteditable="false" data-type="txt" class="sub-intro textarea e-textarea" placeholder="请输入文本">@Model.Rules</div>

                </div>
            </div>

            <div class="model-list acceptPrize-item">
                <div class="model-list-title">
                    <span>领取信息</span>
                </div>
                <div class="model-list-body">
                    <div id="connact" contenteditable="false" class="textarea e-textarea" placeholder="输入领奖信息方便用户领奖，例：领奖时间、领奖地址、领奖电话">@Model.Connact</div>
                </div>
            </div>

            <div class="model-list introduce-item">
                <div class="model-list-title">
                    <span>商家介绍</span>
                </div>
                <div class="model-list-body">

                    @foreach (var item in Model.IntroduceTxtJson.DeserializeJson<List<TypeContentItem>>())
                    {
                        if (item.Type == "txt")
                        {
                    <!-- 文本 -->
                            <div class="uploadImgLabel">
                                <div id="subIntro4" contenteditable="false" data-type="txt" class="sub-intro textarea e-textarea" placeholder="请输入文本">@(item.Content)</div>
                            </div>
                        }
                        else
                        {
                    <!-- 图片 -->
                            <label for="uploadImg" data-target="subIntro1" class="uploadImgLabel">
                                <img id="subIntro4" class="sub-intro nosrc" data-type="img" src="@(item.Content)" alt="图片丢失">
                            </label>
                        }
                    }
                    @*<!-- 文本 -->
                    <div class="uploadImgLabel">
                        <div id="subIntro4" contenteditable="false" data-type="txt" class="sub-intro textarea e-textarea" placeholder="请输入文本">商家介绍内容填充</div>
                    </div>

                    <!-- 图片 -->
                    <label for="uploadImg" data-target="subIntro1" class="uploadImgLabel">
                        <img id="subIntro4" class="sub-intro nosrc" data-type="img" src="" alt="图片丢失">
                    </label>*@

                </div>
            </div>

            <div class="model-list phone-item">
                <div class="model-list-title">
                    <span>咨询电话</span>
                </div>
                <div class="model-list-body pb10">
                    <div class="phone-number txt-left">
                        <i class="icon icon-hotline f12"></i>
                        <input id="phoneNumber"
                               type="number"
                               disabled="true"
                               class="input e-input"
                               placeholder="请输入手机号码"
                               value="@(Model.PhoneNumber)">
                        <!-- <span class="v-span"></span> -->
                    </div>
                </div>
            </div>

            <div class="model-list apply-item">
                <div class="model-list-title">
                    <span>参团人员</span>
                </div>
                <div class="model-list-body pb10">
                    <div class="apply-user-list apply-user-title">
                        <span class="name">名字</span>
                        <span class="phone">手机号</span>
                    </div>
                    <!-- <div class="apply-user-list">
                    <span class="name">龙傲天</span>
                    <span class="phone">15000000000</span>
                </div> -->
                </div>
            </div>

        </div>



        <!-- foot -->
        <div class="button apply-btn">我要报名</div>

    </div>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/utility.js"></script>
    <script>
        function audioAutoPlay(id){  
            var audio = document.getElementById(id);  
            audio.play();  
            document.addEventListener("WeixinJSBridgeReady", function () {  
                audio.play();  
            }, false);  
            document.addEventListener('YixinJSBridgeReady', function() {  
                audio.play();  
            }, false);  
        }
        audioAutoPlay('audio');

        @*wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: "@ViewBag.AppId", // 必填，公众号的唯一标识
            timestamp: "@ViewBag.TimeStamp", // 必填，生成签名的时间戳
            nonceStr: "@ViewBag.NonceStr", // 必填，生成签名的随机串
            signature: "@ViewBag.Signature",// 必填，签名，见附录1
            jsApiList: ['jsApiList',
                  'onMenuShareTimeline',
                  'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
            //wx.hideOptionMenu();/***隐藏分享菜单****/
            wx.checkJsApi({
                jsApiList: [
                  'onMenuShareTimeline',
                  'onMenuShareAppMessage'
                ],
                success: function (res) {
                    //alert(res.errMsg);
                }
            });

            wx.onMenuShareAppMessage({
                title: '@(Model.Name)',
                desc: '@(Model.Name)',
                link: '@(Params.SiteUrl)/user/pintuan?id=@(Model.ID)',
                imgUrl: '@(Params.SiteUrl)@(Model.Picture)',
                success: function (res) {
                    addShareCount();
                },
                cancel: function (res) {
                    //alert('已取消');
                },
                fail: function (res) {
                    alert(res.errMsg);
                }
            });

            // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareTimeline({
                title: '@(Model.Name)',
                desc: '@(Model.Name)',
                link: '@(Params.SiteUrl)/user/pintuan?id=@(Model.ID)',
                imgUrl: '@(Params.SiteUrl)@(Model.Picture)',
                success: function (res) {
                    addShareCount();
                },
                cancel: function (res) {
                    //alert('已取消');
                },
                fail: function (res) {
                    alert(res.errMsg);
                }
            });

            wx.error(function (res) {
                alert(res.errMsg);
            });

        });*@


        function addShareCount()
        {
            //砍价
            $.ajax({
                method: 'post',
                url: '/user/AddShare',
                data: {
                    id: '@(Model.ID)',
                    code:@(TargetCode.Pintuan.GetInt()),
                },
                success: function (data) {
                    if (data.Code == 0) {
                        alert("砍价成功");
                        window.location.reload();
                    }
                    else
                        alert(data.ErrorDesc);
                }
            })
        }
		$(function() {
			var pageIndex = 0, // 当前页索引
					pageSize = 10, // 每页数量
					RecordCount, // 全部数据总数
					PageCount, // 总页面数
					IsLastPage = false; // 最后一页

			var timer,
					loadJudge = true;

			// 下拉加载
			$('.app').scroll(function(e) {

				if(IsLastPage) {
					console.log('IsLastPage');
					return false;
				}
				if(!loadJudge) {
					console.log('loadJudge');
					return false;
				}
				if(this.scrollHeight < this.scrollTop + this.clientHeight + 20) {
					loadJudge = false;
					setTimeout(function() {
						loadJudge = true;
					}, 2000)
                    
					$.ajax({
					    url: '/user/GetUserPageList',
					    data: {
					        pageIndex: ++pageIndex,
					        pageSize: pageSize,
					        targetId: '@(Model.ID)'
					    },
					    success: function (data) {
					        if (data.Code == 0) {
					            IsLastPage = data.Result.IsLastPage;
					            RecordCount = data.Result.RecordCount;
					            PageCount = data.Result.PageCount;
					            var list = data.Result.List;
					            $.each(list, function (i, obj) {
					                $('.apply-item .model-list-body').append('<div class="apply-user-list"><span class="name">' + obj.JoinUserName + '</span><span class="phone">' + obj.Mobile + '</span></div>')
					            })
					        }
					        else
					            alert(data.ErrorDesc);
					    }
					})

				}
			})

			// 点击报名
			$(document).on('click', '.apply-btn', function() {
				$('.apply-info-wrapper').removeClass('hidden');
			})
			.on('click', '.apply-info-wrapper .amask', function() {
				$('.apply-info-wrapper').addClass('hidden');
			})
			// 提交报名信息
			.on('click', '.submitUserInfo', function() {
				for(var i = 0; i < $('.apply-info-wrapper input').length; i++) {
					if($('.apply-info-wrapper input').eq(i).val().length < 2) {
						$('.apply-info-wrapper .msg').text($('.apply-info-wrapper input').eq(i).attr('data-rules'));
						if(timer) clearTimeout(timer);
						timer = setTimeout(function() {
							$('.apply-info-wrapper .msg').text('');
						}, 5000)
						return false;
					}
				}
				$('.apply-info-wrapper .msg').text('');
				console.log('pass');

			    $.ajax({
			        url: '/user/JoinPinTuan',
			        data: {
				    id: '@(Model.ID)',
					mobile: $('#userPhone').val(),
					name: $('#userName').val(),
				    filedJson:''
			        },
			        success: function (data) {
			            if (data.Code == 0) {
			                alert("报名成功");
			                window.location.reload();
			            }
			            else
			                alert(data.ErrorDesc);
			        }
			    })
			})
		})
    </script>

</body>
</html>