@model List<Store>
@{
    var currentUser = LoginHelper.GetCurrentUser();

    var cardList = ViewBag.CardList as List<Card>;
}

@section linkcss
{
    <link rel="stylesheet" href="~/css/PayClubCard.css">
}

<div class="wrap" id="Index">
    <div class="head-div">
        <a href="javascript:history.go(-1);"><i></i></a>
        <span>@ViewBag.Title</span>
        <em></em>
    </div>
    <div class="cont person-data">
        <div class="pd-data">
            <div class="pdd-item pdd-sex">
                <div class="pdd-tit">充值账户 :</div>
                <div class="pdd-input">@currentUser.Account</div>
            </div>
            <div class="pdd-item pdd-stores">
                <div class="pdd-tit">门店选择 :</div>
                <div class="pdd-input">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div data-id="@item.ID">@item.Name</div>
                        }
                    }
                </div>
            </div>
            <div class="pdd-item pdd-membership">
                <div class="pdd-tit">会籍时间 :</div>
                <div class="pdd-input">
                    @if (cardList != null && cardList.Count > 0)
                    {
                        foreach (var item in cardList)
                        {
                            <div data-value="@item.Amount" data-role="@item.Code" data-id="@item.ID">@item.Name</div>
                        }
                    }
                </div>
            </div>
            <div class="pdd-item pdd-discounts-code">
                <div class="pdd-tit">邀请码 :</div>
                <div class="pdd-input">
                    <input type="text" placeholder="填写邀请码" value="" id="disccount_code">
                </div>
                <div class="pdd-dc-btn">确定</div>
            </div>
            <div class="pdd-item pdd-discount">
                <div class="pdd-tit">邀请折扣 :</div>
                <div class="pdd-input">10</div>
            </div>
            <div class="pdd-item pdd-price">
                <div class="pdd-tit"></div>
            </div>
        </div>

        <div class="pd-infor">温馨提示：您在迈健身所购买的会员卡，是按时间购买的，会籍时间到期时可再次购买。</div>

        <div class="pay-btn">确认支付</div>
    </div>
</div>

@section scripts
{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        $(function() {
            // 选择门店
            $(document).on('click', '.pdd-stores .pdd-input div', function() {
                if ($(this).hasClass('pdd-i-sel')) {
                    if ($('.pdd-i-sel').length > 1) {
                        $(this).removeClass('pdd-i-sel');
                    }
                } else {
                    $(this).addClass('pdd-i-sel');
                }
                SumPrice();
            });
            // 选择会籍时间
            $(document).on('click', '.pdd-membership .pdd-input div', function() {
                if (!$(this).hasClass('pdd-m-sel')) {
                    $('.pdd-membership .pdd-input div').removeClass('pdd-m-sel');
                    $(this).addClass('pdd-m-sel');
                }
                SumPrice();
            });

            //计算价格
            function SumPrice()
            {
                var price = 0.0;
                var storeCount = $(".pdd-stores .pdd-i-sel").length;
                var cardPrice = $('.pdd-membership .pdd-input .pdd-m-sel').attr("data-value");
                var discount = $(".pdd-discount .pdd-input").html();
                if (discount == "0")
                {
                    price = storeCount * parseInt(cardPrice);
                }
                else
                {
                    price = storeCount * parseInt(cardPrice) * parseInt(discount)/10;
                }
                if (storeCount != 0 && typeof (cardPrice) != "undefined") {
                    $(".pdd-price .pdd-tit").html("¥" + price);
                }
            }
            // 填写邀请码结束后，确定事件
            $(document).on('click', '.pdd-dc-btn', function() {
                if (!$(this).hasClass('pdd-m-sel')) {
                    var yhmCode = $('.pdd-discounts-code .pdd-input input').val();
                    $.ajax({
                        url: "/user/GetDisccount",
                        data: { no: yhmCode },
                        success: function (data) {
                            console.log(data);
                            if (data.Code == 0) {
                                $(".pdd-discount .pdd-input").text(data.Result.Result);
                                $('.pdd-discount').slideDown(500);
                                SumPrice();
                            } else {
                                var boxObj1 = BOXOPEN({
                                    type: 1,
                                    txt: data.ErrorDesc
                                });
                                $('.pdd-discount').slideUp(500);
                            }
                        }
                    });
                }
            });

            // 显示邀请码输入框
            $(document).on('click', '.head-div em', function() {
                $('.pdd-discounts-code').slideDown(500);
            });


            $(document).on('click', '.pay-btn', function () {
                var cardId = $('.pdd-membership .pdd-input .pdd-m-sel').attr("data-id");
                var ary = new Array();
                var nameAry = new Array();
                $(".pdd-stores .pdd-i-sel").each(function (i, item) {
                    ary.push($(item).attr("data-id"));
                    nameAry.push($(item).text());
                });
                if (!cardId|| ary.length==0) {
                    var boxObj1 = BOXOPEN({
                        type: 1,
                        txt: "请选择门店和会员卡类型!"
                    });
                    $('.pdd-discount').slideUp(500);
                } else {

                    $.ajax({
                        type: "Post",
                        url: "/store/BuyCard",
                        data: { inviteNo: $("#disccount_code").val(), cardId: cardId, storeIds: ary.join() },
                        beforeSend: function () {
                            $(".pay-btn").attr({ "disabled": "disabled" });//获取到配置之前，禁止点击付款按钮
                        },
                        success: function (postData) {
                            if (postData.Code == 0)
                            {
                                var remark = "购买" + nameAry.join() + "会员卡，时间" + $('.pdd-membership .pdd-input .pdd-m-sel').text() + ",总价" + $(".pdd-price .pdd-tit").html().replace("¥", "") + "元";
                                window.location.href = "/WxPay/Pay?orderId=" + postData.Result.Result + "&fee=" + $(".pdd-price .pdd-tit").html().replace("¥", "") + "&remark=" + remark + "&name=" + nameAry.join() + "&cardName=" + $('.pdd-membership .pdd-input .pdd-m-sel').text()+"&type=0";
                               
                            }
                            else {
                                var boxObj1 = BOXOPEN({
                                    type: 1,
                                    txt: postData.ErrorDesc
                                });
                            }
                        }
                    })




                }
            });
        })

      

    </script>
}