@model List<Tuple<int, User>>
@{
    var currentUser = LoginHelper.GetCurrentUser();
    ViewBag.Title = "达人排行榜";
}



@section linkcss
{
    <link rel="stylesheet" href="~/css/LeaderBoard.css">
}


<div class="wrap" id="Index">
    <div class="head-div">
        <a href="/user/index"><i></i></a>
        <span>达人排行榜</span>
    </div>
    <div class="cont leader-board">
        <div class="lb-my-lb">
            <div class="lbm-img">
                <img src="@currentUser.HeadImgUrl" alt="">
            </div>
            <div class="lbm-txt">
                <div class="lbm-name">@currentUser.Account</div>
                <div class="lmb-rank">
                    <div class="lmb-rank-tit">我的排名</div>
                    <div class="lmb-rank-num">@ViewBag.SortCount</div>
                </div>
                <div class="lmb-times">
                    <div class="lmb-times-tit">打卡次数</div>
                    <div class="lmb-times-num">@ViewBag.Count</div>
                </div>
            </div>
        </div>

        <div class="lb-div">
            @{int index = 1; }
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="lb-item @(index > 3 ? "top-ohter" : "top-three")">
                        <div class="lb-rank-num">@(index)</div>
                        <div class="lb-rank-img">
                            <img src="@item.Item2.HeadImgUrl" alt="">
                        </div>
                        <div class="lb-rank-txt">
                            <div class="lb-rank-name">@item.Item2.RealName</div>
                            <div class="lb-rank-times">@item.Item1</div>
                        </div>
                    </div>
                    {
                        index++;
                    }
                }
            }
        </div>

    </div>
</div>

@section scripts
{
    
}